body{
	/*background-color: #E8E8E8;*/
	background-color: 	#f2f2f2;
	min-height: 100vh;
  position: relative;
  margin: 0;
}

#menu{
	/*background-color: #122F3B;*/
	background-color: #3c2611;
}

footer{
	background-color: #cccccc;
	color: #666666;
	position: absolute;
  	bottom: 0;
  	width: 100%;
}



